<a href="" class="list-group-item list-group-item-action active">Tüm Kategoriler</a>
<% categories.forEach(category=> { %>
    <a href="/blogs/category/<%= category.categoryid %>" 
        class="list-group-item list-group-item-action
        <%= selectedCategory == category.categoryid ? "active" : "" %>">
        <%= category.categoryname %>
    </a>
<% }) %>