<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <%- include('../partials/nav') %>

    <%- include('../partials/category-menu') %>

    <h1>blog detay sayfası</h1>
</body>
</html>